# 忽略所有文件
*

# 白名单：C 源码和头文件
!*.c
!*.h

# 允许必要的项目文件（可选）
!Makefile
!CMakeLists.txt
!startup_*.s
!linker*.ld
!.gitignore

# 忽略常见临时文件（防止误加）
*.o
*.d
*.axf
*.elf
*.hex
*.bin
*.map
build/
/Debug/
/Release/
*.bak
*.tmp
